<%- include('../_header_admin') -%>
<div class='container' style="margin-left: 15%;margin-right: 15%;">
  <div class="row">
    <div class="col"style="margin-top: 10%;">
      <h3 align="center" style="font-size: 50px; font-weight: bolder; color:white; text-shadow: 2%; margin-left: 20%;">  รายการยืม - คืน </h3>
      <div style="margin-top: 7%;">
        <table class="table table-bordered table-hover" style="text-align: center; background-color:white;">
          <thead class="text-center table-active">
            <tr class="table-active">
              <th>ชื่อผู้ยืม</th>
              <th>รหัสนักศึกษา</th>
              <th>เบอร์โทรศัพท์</th>
              <th>โปรแกรมวิชา</th>
              <th>คณะ</th>
              <th>ชั้นปี</th>
              <th>ชื่ออุปกรณ์</th>
              <th>รหัสพัสดุ</th>
              <th>ประเภท</th>
              <th>ห้อง</th>
              <th>วันที่ยืม</th>
              <th>วันที่ต้องคืน</th>
              <th>วันที่ได้รับคืน</th>
            </tr>
          </thead>

          <% if (data) { %>
          <% for(var i=0; i <data.length; i++) { %>
          <tr>
            <td><%= data[i].pname%> </td>
            <td><%= data[i].studentcode%> </td>
            <td><%= data[i].mobile%> </td>
            <td><%= data[i].mname%> </td>
            <td><%= data[i].dpname %> </td>
            <td><%= data[i].gname %> </td>
            <td><%= data[i].dname %> </td>
            <td><%= data[i].code %> </td>
            <td><%= data[i].tname %> </td>
            <td><%= data[i].roname %> </td>
            <td><%= data[i].bdate %> </td>
            <td><%= data[i].breturn %> </td>
            <td><%= data[i].rget %> </td>
          </tr>
          <% } %>
          <% } %>
        </table>
      </div>
    </div>
  </div>
</div>

<%- include('../_footer'); -%>