<%- include ('../_header_user') -%>

<div class="container">
    <div class="row">
        <div class="col" style="margin-top: 8%;">
            <h3 align='center' style="font-size: 50px; font-weight: bolder; color:white;"> รายละเอียดการยืมอุปกรณ์ </h3>
            <div class='card' style="margin-top: 5%;">
                <div class='card-body'>
                    <table class="table table-bordered table-hover table-active"
                        style=" background-color:white; border-collapse: collapse;">
                        <thead class="table-active">
                            <div class='font-color'>
                                <tr class="table-active">
                                    <th  style="width: 20% ;">รายการ</th>
                                    <th>ข้อมูล</th>
                                </tr>
                            </div>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    ชื่อ-นามสกุล<br>
                                    รหัสนักศึกษา<br>
                                    เบอร์โทรศัพท์<br>
                                    โปรแกรมวิชา<br>
                                    คณะ<br>
                                    ชั้น<br>
                                    ชื่ออุปกรณ์<br>
                                    รหัสพัสดุ<br>
                                    ประเภท<br>
                                    ห้อง<br>
                                    วันที่ยืม<br>
                                    วันที่ต้องคืน<br>
                                    สถานะ
                                </td>
                                <td>
                                    <%= data[0].pname %><br>
                                    <%= data[0].studentcode %><br>
                                    <%= data[0].mobile %><br>
                                    <%= data[0].mname %><br>
                                    <%= data[0].dpname %><br>
                                    <%= data[0].gname %><br>
                                    <%= data[0].dname %><br>
                                    <%= data[0].code %><br>
                                    <%= data[0].tname %><br>
                                    <%= data[0].roname %><br>
                                    <%= data[0].bdate %><br>
                                    <%= data[0].breturn %><br>
                                    <% var j = '' %>
                                    <% for(var i=0;i<data2.length;i++){ %> 
                                        <% if(data2[i].borrow_id != data[0].bid){ %> 
                                            <% j = 'กำลังยืม' %>
                                        <% } else { %>
                                            <% j = 'คืนแล้ว' %>
                                            <% break %>
                                        <% } %>
                                    <% } %>
                                    <%= j %>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="padding-left: 92%;">
                        <a href="/borrow/" class='btn btn-info'> ย้อนกลับ </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ('../_footer') -%>