<%- include ('../_header_user') -%>

<div class='container'>
  <div class="row">
    <div class="col" style="margin-top: 8%; margin-left: auto; margin-right: auto;">
      <h3 align='center' style="font-size: 50px; font-weight: bolder; color:white;"> ยืมอุปกรณ์ </h3>
      <div class='font-color' style="margin-top: 5%;">
        <table class="table table-bordered table-hover table-active"
          style="text-align: center; background-color:white; border-collapse: collapse;">
          <thead class='table-active'>
            <tr class='table-active'>
              <th>ลำดับ</th>
              <th>ชื่ออุปกรณ์</th>
              <th>ประเภท</th>
              <th>ห้อง</th>
              <th>วันที่ยืม</th>
              <th>วันที่ต้องคืน</th>
              <th>ตัวเลือก</th>
            </tr>
          </thead>
          <tbody>
            <% if(data) { %> 
            <% var j=0 %>
            <% for (var i=0;i<data.length;i++){ %>
            <% if(data[i].uid == data1) { %>
              <% j+=1 %>
                <tr>
                  <td><%= j %></td>
                  <td><%= data[i].dname%> </td>
                  <td><%= data[i].tname %></td>
                  <td><%= data[i].roname %></td>
                  <td><%= data[i].bdate%> </td>
                  <td><%= data[i].re%> </td>
                  <td>
                    <a href="/borrow/detail/<%= data[i].id %>" class='btn btn-info'> รายละเอียด </a>
                  </td>
                </tr>
                <% } %>
              <% } %>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<%- include ('../_footer') -%>