<%- include('../_header_admin') -%>

<div class="constainer">
  <div class="row">
    <div class="col" style="margin-left: 35%; margin-right: 35%;margin-top: 6%;">
      <% if(session.success==false){ %>
        <% for(var i=0;i<session.errors.errors.length;i++){ %>
        <div class='alert alert-danger' role='alert'>
          <%= session.errors.errors[i]["msg"] %>
        </div>
        <% } session.success=null; } %>
        <% if(session.success==true){ %>
        <div class='alert alert-success' role='alert'>
          <%= session.topic%> </div>
        <% } session.success=null; %>
      <h1 align='center' style="font-size: 50px; font-weight: bolder; color: white;"> แก้ไขคณะ </h1>
      <div style="margin-top: 5%;">
        <div class='card'>
          <div class='card-body'>
            <label> คณะ : </label>
            <form action="/department/update/<%=data1[0].id%>" method="post">
              <div class='form-group'>
                <div class="form-group">
                      <input type="text" name="name" placeholder = 'กรุณาป้อนข้อมูล..' value="<%= data1[0].name %>" class="form-control">
                </div>
                <label></label>
                    <button type="submit" class="btn btn-success"> แก้ไขข้อมูล </button>
                    <a href="/department" class="btn btn-info"> ย้อนกลับ </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <script>
  (function() {
    'use strict'
    var forms = document.querySelectorAll('.needs-validation');
    Array.prototype.slice.call(forms)
      .forEach(function(form){
        form.addEventListener('submit',function(event){
          if(!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }
          form.classList.add('was-valideted')
        },false)
      })
  })()
</script> -->

<%- include('../_footer') -%>