<%- include('../_header_admin'); -%>

<div class="constainer">
  <div class="row" >
    <div class="col" style="margin-top: 5%; margin-left: 20%; margin-right: 20%;">
      <% if(session.success==false){ %>
      <% for(var i=0;i<session.errors.errors.length;i++){ %>
      <div class='alert alert-danger' role='alert'>
        <%= session.errors.errors[i]["msg"] %>
      </div>
      <% } session.success=null; } %>
      <% if(session.success==true){ %>
      <div class='alert alert-success' role='alert'>
        <%= session.topic%> </div>
      <% } session.success=null; %>
      <div>
        <h1 align='center' style="font-size: 50px; font-weight: bolder; color: white;"> ยืนยันการลบคณะ </h1>
      </div>
      <div style="margin-top: 3%; margin-left: 25%; margin-right: 25%;">
        <div class="card">
          <div class='card-body'>
            <table class="table table-borderless">
              <td style="width: 70px;">
                คณะ : <br>
              </td>
              <td style="text-align: left;">
                <%= data1[0].name %>
              </td>
            </table>
            <a href="/department/confirm/<%= data1[0].id %>" class="btn btn-warning"> ยืนยันการลบ </a>
            <a href="/department" class="btn btn-info"> ย้อนกลับ </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../_footer'); -%>