<%- include('../_header_admin') -%>
<div class="container">
  <div class="row">
    <div class="col" style="margin-top: 8%; margin-left: 20%; margin-right: 20%;">
      <% if(session.success==false){ %>
        <% for(var i=0;i<session.errors.errors.length;i++){ %>
        <div class='alert alert-danger' role='alert'>
          <%= session.errors.errors[i]["msg"] %>
        </div>
        <% } session.success=null; } %>
        <% if(session.success==true){ %>
        <div class='alert alert-success' role='alert'>
          <%= session.topic%> </div>
        <% } session.success=null; %>
      <h1 align = 'center' style='font-size: 50px; font-weight: bolder; color: white;'> เพิ่มคณะ </h1>
      <div style="margin-top: 5%;">
        <div class='card'>
          <div class='card-body'>
            <div>
              <form action="/department/add" method="post" style="padding-top: 3%;">
                <div class='form-group'>
                  <label> คณะ </label>
                <div class='form-group'>
                  <input type="text" name='name' placeholder="กรุณาป้อนข้อมูล.." class='form-control'>
                </div>
                  <button type='submit' class='btn btn-success'> เพิ่มข้อมูล </button>
                  <a href="/department" class="btn btn-info"> ย้อนกลับ </a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <script>
  (function () {
'use strict'

// Fetch all the forms we want to apply custom Bootstrap validation styles to
var forms = document.querySelectorAll('.needs-validation')

// Loop over them and prevent submission
Array.prototype.slice.call(forms)
  .forEach(function (form) {
    form.addEventListener('submit', function (event) {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
</script> -->
<%- include('../_footer') -%>
