<%- include('../_header_admin') -%>

<div class="container" >
  <div class="row">
    <div class="col" style="margin-top: 10%; margin-left: 15%; margin-right: 15%;">
      <% if(session.success==false){ %>
        <% for(var i=0;i<session.errors.errors.length;i++){ %>
        <div class='alert alert-danger' role='alert'>
          <%= session.errors.errors[i]["msg"] %>
        </div>
        <% } session.success=null; } %>
        <% if(session.success==true){ %>
        <div class='alert alert-success' role='alert'>
          <%= session.topic%> </div>
        <% } session.success=null; %>
      <h1 align='center' style="font-size: 50px; font-weight: bolder; color: white;"> คณะ </h1>
      <div>
        <p style="padding-top: 1%;">
          <a href="/department/new" class="btn btn-primary"> เพิ่ม </a>
        </p>
        <table class="table table-bordered table-hover table-active text-center" style="background-color: white;">
          <thead  class="table-active">
            <tr class='table-active'>
              <th>ลำดับ</th>
              <th> คณะ </th>
              <th colspan="2">ตัวเลือก</th>
            </tr>
          </thead>
          <tbody>
              <% if(data){ %>
                <% for(var i=0;i<data.length;i++){ %>
                  <tr>
                    <td> <%= (i+1) %></td>
                    <td> <%= data[i].nl %></td>
                    <td>
                      <a href="/department/checkdelete/<%= data[i].id %>"  class="btn btn-danger"> ลบ </a>
                      <a href="/department/update/<%= data[i].id %>"  class="btn btn-info"> แก้ไข </a>
                    </td>
                  </tr>
                <%  } %>
              <%  } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



<%- include('../_footer') -%>
