<%- include('../_header_admin'); -%>
<br>
<article>
    <section style="margin-top: 4%; margin-right:35%;margin-left:35%;">
        <h3 align="center" style="font-size: 50px; font-weight: bolder; color: white;margin-bottom: 19px;">ยืนยันการลบชั้นปี</h3>
        <!-- <% JSON.stringify(session) %> -->
        <div class="card" style="margin-right:16.5%;margin-left:16.5%;">
            <div class="card-body">
                <table class="table table-borderless" style="background-color: white;margin-top: 10px;">
                    <tbody>
                        <tr>
                            <td style="width:65px;">ชั้นปี :<br>
                            </td>
                            <td style="text-align:left;">
                                <%=data[0].gname%><br>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div style="text-align: center;padding: 1rem 1rem;font-size: 15px;">
                </div>
                <div class="form-group" style="margin-top:-20px;margin-bottom:0px;text-align: left;">
                    <a href="/group/confirm/<%= data[0].id %>" class="btn btn-warning">ยืนยันการลบ</a>
                    <a href="/group/" class="btn btn-info">ย้อนกลับ</a>
                </div>
                </thead>
                </table>
            </div>
        </div>
        </div>
    </section>
</article>

<%- include('../_footer'); -%>