<%- include('../_header_admin'); -%>
<% JSON.stringify(session) %>
<br>

<article>
 
    <section style="margin-top: 4%; margin-right:40%;margin-left:40%;">
        <% if(session.success==false){ %>
            <% for(var i=0;i<session.errors.errors.length;i++){ %>
            <div class='alert alert-danger' role='alert'>
                <%= session.errors.errors[i]["msg"] %>
            </div>
            <% } session.success=null; } %>
            <% if(session.success==true){ %>
            <div class='alert alert-success' role='alert'>
                <%= session.topic%> </div>
            <% } session.success=null; %>
                <h3 align="center" style="font-size: 50px; font-weight: bolder;color: white;">เพิ่มชั้นปี</h3>
                <div>
        
                    <form action="/group/add" method="post" style="padding-top: 3%; " class=" needs-validation"
                        novalidate>
                        <div class="card">
                            <div class="card-body">

                        <div class="form-group">
                            <label>ชั้นปี</label>
                            <input type="number" name="name" placeholder="กรุณาป้อนข้อมูล" class="form-control">
                            <!-- <div class="invalid-feedback">
                        กรุณาใส่ชั้นปี
                    </div> -->
                        </div>
                        <button type="submit" class="btn btn-success">เพิ่มข้อมูล</button>
                        <a href="/group/" class="btn btn-info">ย้อนกลับ</a>
                    </form>
                </div>
            </div>
        </div>
    </section>
</article>

<!-- <script>
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script> -->

<%- include('../_footer'); -%>