<%- include('../_header_user'); -%>
<br>
<article style="padding-top: 4%;">
  <section style="width: 55%; margin-right:auto;margin-left:auto;">
    <h3 align="center" style="font-size: 50px; font-weight: bolder; color:white;">รายละเอียดอุปกรณ์</h3>
    <div style="margin-top:30px; padding-top: 2%;">
      <div class="card">
        <div class="card-body">
          <table class="table table-bordered table-hover" style="background-color: white;">
            <div>
              <thead class="table-active">
                <tr class="table-active" style="text-align: center;">
                  <th scope="col" style="width: 154px;">รายละเอียด</th>
                  <th scope="col">ข้อมูล</th>
                </tr>
              </thead>
            </div>
            <div>
              <tbody>
                <tr>
                  <td>
                    ชื่ออุปกรณ์<br>
                    รหัสพัสดุ<br>
                    ประเภท<br>
                    ห้อง<br>
                    รายละเอียดอุปกรณ์<br>
                    วันที่ยืม<br>
                    วันที่ต้องคืน<br>
                    วันที่ได้รับคืน<br>
                  </td>
                  <td>
                    <% if(data[0].dname == null){ %>
                      <% var s = '-' %>
                      <%= s %><br>
                    <% }else{ %>
                      <%= data[0].dname %><br>
                    <% } %>

                    <% if(data[0].dcode == null){ %>
                      <% var s = '-' %>
                      <%= s %><br>
                    <% }else{ %>
                      <%= data[0].dcode %><br>
                    <% } %>

                    <% if(data[0].tname == null){ %>
                      <% var s = '-' %>
                      <%= s %><br>
                    <% }else{ %>
                      <%= data[0].tname %><br>
                    <% } %>

                    <% if(data[0].rname == null){ %>
                      <% var s = '-' %>
                      <%= s %><br>
                    <% }else{ %>
                      <%= data[0].rname %><br>
                    <% } %>

                    <% if(data[0].detail == null){ %>
                      <% var s = '-' %>
                      <%= s %><br>
                    <% }else{ %>
                      <%= data[0].detail %><br>
                    <% } %>

                    <% if(data[0].bdate == null){ %>
                      <% var s = '-' %>
                      <%= s %><br>
                    <% }else{ %>
                      <%= data[0].bdate %><br>                     
                    <% } %>

                    <% if(data[0].bre == null){ %>
                      <% var s = '-' %>
                      <%= s %><br>
                    <% }else{ %>
                      <%= data[0].bre %><br>                     
                    <% } %>
                    
                    <% if(data[0].rtdate == null){ %>
                      <% var s = '-' %>
                      <%= s %><br>
                    <% }else{ %>
                      <%= data[0].rtdate %><br>                     
                    <% } %>
                  </td>
                </tr>
              </tbody>
            </div>
          </table>
          <a href="/device" class="btn btn-info" style="margin-left: 89%;">ย้อนกลับ</a>
        </div>
      </div>
    </div>
</article>
</section>
<%- include('../_footer'); -%>