<%- include('../_header_user'); -%>
<br>
<article style="padding-top: 4%;">
    <section style="width: 55%; margin-right:auto;margin-left:auto;">
        <h3 align="center" style="font-size: 50px; font-weight: bolder; color:white;">อุปกรณ์</h3>
        <div style="margin-top:3%; padding-top: 2%;">
            <table class="table table-bordered table-hover" style="background-color: white;">
                <thead align="center" class="table-active">
                    <tr class="table-active">
                        <th scope="col">ลำดับ</th>
                        <th scope="col" style="width:10%;" >ชื่ออุปกรณ์</th>
                        <th scope="col">รหัสพัสดุ</th>
                        <th scope="col">ประเภท</th>
                        <th scope="col">ห้อง</th>
                        <th scope="col" style="width: 90px;" >สถานะ</th>
                        <th scope="col" style="width: 130px;" >ตัวเลือก</th>
                    </tr>
                <tbody align="center">
                    <% if(data) { %>
                    <% for(var i=0;i<data.length;i++){ %>
                    <tr>
                        <td>
                            <%= (i+1) %>
                        </td>
                        <td>
                            <%= data[i].dname %>
                        </td>
                        <td>
                            <%= data[i].dcode %>
                        </td>
                        <td>
                            <%= data[i].tname %>
                        </td>
                        <td>
                            <%= data[i].rname %>
                        </td>
                                <% if(data[i].bid == data[i].rtboid){ %> 
                                    <td style="color: blue;">
                                        <% var s = '' %>
                                                <% s = 'ยืมได้' %>
                                        <%= s %>
                                    </td>
                                <% } else { %>
                                    <td style="color: red;">
                                        <% var s = '' %>
                                                <% s = 'ยืมไม่ได้' %>
                                        <%= s %>
                                    </td>
                                <% } %>
                        <td>
                            <a href="/device/detail/<%= data[i].did %>" class="btn btn-info">รายละเอียด</a>
                        </td>
                    </tr>
                    <% } %>
                    <% } %>
                </tbody>
                </thead>
            </table>
        </div>
</article>
</section>
<%- include('../_footer'); -%>
