<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Font -->
  <link rel='stylesheet' href='/assets/css/bootstrap.min_2.css'>
  <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/css/css2.css">

  <!-- Custom Styling -->
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel='icon' href="/assets/images/ce.png">

  <title> CE Borrowing </title>
</head>

<body>
  <header>
    
    <div class="logo">
      <h1 class="logo-text">
        <span> CE </span> <span style="color : #ffe2bce8;">Borrowing

          <span style="font-size: .4em; 
                     color : #ffffff; 
                     letter-spacing: 1px;"> User
    </div>

    <a href="#"><i class="menu-toggle"><img src="/assets/images/menu.png" width="25px" height="25px"></img></i></a>

    <ul class="nav">
      <li><a href="/main"><img src="/assets/images/home.png" width="20px" height="20px"></img> หน้าหลัก </a></li>
      <li id="show1"><a href="#" id="menu" onclick="toggleMenu">
          <img src="/assets/images/book.png" width="20px" height="20px"></img> ยืนคืน
          <img src="/assets/images/down.png" width="15px" height="15px" style="font-size: .7em;"></img></a>
        <div class="sub-menu-1">
          <ul>
            <li><a href="/borrow"> ยืม</a></li>
            <li><a href="/return">คืน</a></li>
          </ul>
        </div>
      </li>
      <li><a href="#"><img src="/assets/images/monitor.png" width="20px" height="20px"></img> ข้อมูลอุปกรณ์
          <img src="/assets/images/down.png" width="15px" height="15px" style="font-size: .7em;"></img></a>
        <div class="sub-menu-1">
          <ul>
            <li><a href="/device">อุปกรณ์</a></li>
          </ul>
        </div>
      </li>
      <li><a href="#"><img src="/assets/images/user.png" width="22px" height="22px"></img> ข้อมูลบุคคล
          <img src="/assets/images/down.png" width="15px" height="15px" style="font-size: .7em; "></img></a>
        <div class="sub-menu-1">
          <ul>
            <li><a href="/person">บุคคล</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="/logout">
          <img src="/assets/images/logout.png" width="20px" height="20px"></img> ออกจากระบบ </div>
        </a>
      </li>
      <li>
        </div>
        </a>
      </li>
    </ul>
    </nav>
    <script type="text/javascript"></script>
  </header>

  <!-- JQuery -->
  <script src="/assets/js/jquery.min.js"></script>

  <!-- Custom Script -->
  <script src="/assets/js/scripts.js"> </Script>