<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> Borrowing </title>
        <link href="/assets/css/font.css" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/materialdesignicons.css">
        <!-- <link rel="stylesheet" href="/assets/css/bootstrap.css"> -->
        <link rel="stylesheet" href="/assets/css/bootstrap_2.css">
        <link rel="stylesheet" href="/assets/css/login.css">
        <link rel='icon' href="/assets/images/ce.png">
        <!-- <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css" -->
</head>

<body>
        <!-- <%= JSON.stringify(session) %> -->
        <section class='container'>
                <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
                        <div class="container" style="padding-bottom: 5%;">
                                <div class='set'>
                                        <% if(session.success==false){ %>
                                                <% for(var i=0;i<session.errors.errors.length;i++){ %>
                                                        <div class='alert alert-danger' role='alert'>
                                                        <%= session.errors.errors[i]["msg"] %>
                                                        </div>
                                                <% } session.success=null; } %>
                                            <% if(session.success==true){ %>
                                                <div class='alert alert-success' role='alert'>
                                                        <%= session.topic %>
                                                </div>
                                            <% } session.success=null; %>
                                </div>
                                <div class="card login-card">
                                        <div class="row no-gutters">
                                                <div class="col-md-5">
                                                        <img src="/assets/images/124452.jpg" alt="login"
                                                                class="login-card-img">
                                                </div>
                                                <div class="col-md-7">
                                                        <div class="card-body">
                                                                <div class="brand-wrapper">
                                                                        <div>
                                                                                <h1><img src="assets/images/5.jpg"
                                                                                                alt="logo"
                                                                                                style="width: 18%;">CE
                                                                                        Borrowing
                                                                                </h1>

                                                                        </div>
                                                                </div>
                                                                <p class="login-card-description">
                                                                        Sign into your account
                                                                </p> 
                                                                <form action="/" method="post">
                                                                        <div class="form-group">
                                                                                <!-- <label for="email" class="sr-only">Email</label> -->
                                                                                <input type="username" name='username'
                                                                                        class="form-control"
                                                                                        placeholder="Username"
                                                                                        style="font-size: medium;">
                                                                        </div>
                                                                        <div class="form-group mb-4">
                                                                                <!-- <label for="password" class="sr-only">Password</label> -->
                                                                                <input type="password" name='password'
                                                                                        class="form-control"
                                                                                        placeholder="Password"
                                                                                        style="font-size: medium;">
                                                                        </div class='center'>
                                                                        <!-- <input name="login" id="login"
                                                                        class="btn btn-block login-btn mb-4"
                                                                        type="button" value="Login"> -->
                                                                        <button class='btn btn-block login-btn mb-4'
                                                                                type='submit'> Login </button>
                                                                </form>
                                                                <!-- <a href="#!" class="forgot-password-link">Forgot password?</a>
                <p class="login-card-footer-text">Don't have an account? <a href="#!" class="text-reset">Register here</a></p>
                <nav class="login-card-footer-nav">
                  <a href="#!">Terms of use.</a>
                  <a href="#!">Privacy policy</a>
                </nav> -->
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
                </main>
        </sectcion>
</body>

</html>
