<%- include('../_header_admin') -%>
<div class="container">
    <div class="row">
        <div class="col" style="margin-top: 7%; margin-left: 25%; margin-right: 25%;">
            <% if(session.success==false){ %>
                <% for(var i=0;i<session.errors.errors.length;i++){ %>
                <div class='alert alert-danger' role='alert'>
                  <%= session.errors.errors[i]["msg"] %>
                </div>
                <% } session.success=null; } %>
                <% if(session.success==true){ %>
                <div class='alert alert-success' role='alert'>
                  <%= session.topic%> </div>
                <% } session.success=null; %>
            <form action="/user/add" method="post">
                <div class='form-group'>
                    <label style="font-size:50px; font-weight: bolder; color: white; padding-left: 27%;"> เพิ่มผู้ใช้งาน
                    </label>
                </div>
                <div class="card">
                    <div class='card-body'>
                        <div class='form-group'>
                            <label> บุลคล </label>
                            <select name="person_id" class="form-control">
                                <option> กรุณาเลือก </option>
                                <% if(data) {%>
                                <% for(var i=0;i<data.length;i++){ %>
                                <option value="<%= data[i].id %>"> <%= data[i].name %> </option>
                                <%}%>
                                <%}%>
                                </select>
                            <label> ชื่อผู้ใช้งาน </label>
                            <input type="text" name='username' placeholder="กรุณาป้อนข้อมูล.." class='form-control'>
                            <label> รหัสผ่าน </label>
                            <input type="text" name="password" placeholder="กรุณาป้อนข้อมูล.." class='form-control'>
                            <label> ตำแหน่ง </label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name='admin' value="0" id="flexRadioDefault1" checked>
                                <label class="form-check-label" for="flexRadioDefault1">
                                  ผู้ใช้งานทั่วไป
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="admin" value="1" id="flexRadioDefault2">
                                <label class="form-check-label" for="flexRadioDefault2">
                                  ผู้ดูแล
                                </label>
                              </div>
                        </div>
                        <button type='submit' class='btn btn-success'> เพิ่มข้อมูล </button>
                        <a href="/user" class='btn btn-info'> ย้อนกลับ </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('../_footer') -%>