<%- include('../_header_admin') -%>
<div class="container">
    <div class="row">
        <div class="col" style="margin-top: 10%; margin-left: 20%; margin-right: 20%;">
            <% if(session.success==false){ %>
                <% for(var i=0;i<session.errors.errors.length;i++){ %>
                <div class='alert alert-danger' role='alert'>
                  <%= session.errors.errors[i]["msg"] %>
                </div>
                <% } session.success=null; } %>
                <% if(session.success==true){ %>
                <div class='alert alert-success' role='alert'>
                  <%= session.topic%> </div>
                <% } session.success=null; %>
            <div class='form-group'>
                <h3 align='center' style='font-size: 50px; font-weight: bolder; color: white;'> ผู้ใช้งาน </h3>
            <a href="/user/new/" class='btn btn-primary'> เพิ่ม </a>
            <table class='table table-bordered table-hover mt-3 text-center' style="background-color: white;">
                <div class='form-group'>
                    <thead class='table-active'>
                        <tr align="center" class="table-active">
                            <th> ลำดับ </th>
                            <!-- <th> ชื่อ </th> -->
                            <!-- <th> รหัสนักศึกษา </th>
                                <th> เบอร์มือถือ </th>
                                <th> สาขา </th>
                                <th> คณะ </th>
                                <th> ปีการศึกษา </th> -->
                            <th> ชื่อผู้ใช้งาน </th>
                            <th> รหัสผ่าน </th>
                            <th> ตำแหน่ง </th>
                            <th> ตัวเลือก </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(data) {%>
                        <% for(var i=0;i<data.length;i++){ %>
                        <tr>
                            <td> <%= (i+1) %> </td>
                            <!-- <td> <%= data[i].pname %></td> -->
                            <!-- <td> <%= data[i].studentcode%> </td>
                                <td> <%= data[i].mobile %></td>
                                <td> <%= data[i].mname %></td>
                                <td> <%= data[i].dpname %></td>
                                <td> <%= data[i].gname %></td> -->
                            <td> <%= data[i].username %></td>
                            <td> <%= data[i].password %></td>
                            <td>
                                <% if(data[i].admin == 1) { %>
                                    ผู้ดูแล
                                <%}else{%>
                                    ผู้ใช้งานทั่วไป
                                <%}%>
                            </td>
                            <td>
                                <a href="/user/checkdel/<%= data[i].id %>" class='btn btn-danger'> ลบ</a>
                                <a href="/user/update/<%= data[i].id %>" class='btn btn-info'> แก้ไข </a>
                            </td>
                            <!-- <td>

                            </td> -->
                        </tr>
                        <% } %>
                        <%}%>
                        </tbody>
                </div>
            </table>
            </div>
        </div>
    </div>
</div>

<%- include('../_footer') -%>
