<%- include('../_header_admin'); -%>

<div class="constainer">
  <div class="row">
    <div class="col" style="margin-top: 6%; margin-left: 35%; margin-right: 35%;">
      <% if(session.success==false){ %>
      <% for(var i=0;i<session.errors.errors.length;i++){ %>
      <div class='alert alert-danger' role='alert'>
        <%= session.errors.errors[i]["msg"] %>
      </div>
      <% } session.success=null; } %>
      <% if(session.success==true){ %>
      <div class='alert alert-success' role='alert'>
        <%= session.topic%> </div>
      <% } session.success=null; %>
      <h1 align='center' style="font-size: 50px; font-weight: bolder; color:white"> ยืนยันลบผู้ใช้งาน </h1>
      <div style="padding-top: 5%;">
        <div class="card" style="margin-left: 20%; margin-right: 20%;">
          <div class="card-body">
            <table class="table table-borderless">
              <td style="padding-right: 1%;">
                ชื่อ-นามสกุล :<br>
                ผู้ใช้งาน :<br>
                รหัสผ่าน :<br>
                ตำแหน่ง :<br>
              </td>
              <td>
                <% for(var i=0;i<data.length;i++) {%>
                <% if(data[i].id == data1[0].person_id) { %>
                <%= data[i].name %><br>
                <%}%>
                  <%}%>
                <%= data1[0].username %><br>
                <%=data1[0].password %><br>
                <% if(data1[0].admin == 1) { %>
                  ผู้ดูแล
                <%}else{ %>
                  ผู้ใช้งานทั่วไป
                <%}%>
                </td>
            </table>
            <div style="padding-top: 5%;">
              <a href="/user/delete/<%= data1[0].id %>" class="btn btn-warning"> ยืนยันการลบ </a>
                <a href="/user/" class="btn btn-info"> ย้อนกลับ </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<%- include('../_footer'); -%>