<%- include('../_header_admin') -%>
<div class="constainer">
  <div class="row">
    <div class="col" style="margin-top: 5%; margin-left: 36%; margin-right: 36%;">
      <% if(session.success==false){ %>
        <% for(var i=0;i<session.errors.errors.length;i++){ %>
        <div class='alert alert-danger' role='alert'>
          <%= session.errors.errors[i]["msg"] %>
        </div>
        <% } session.success=null; } %>
        <% if(session.success==true){ %>
        <div class='alert alert-success' role='alert'>
          <%= session.topic%> </div>
        <% } session.success=null; %>
      <form action="/user/update/<%=data1[0].id %>" method="post">
        <h2 align='center' style="font-size: 50px; font-weight: bolder; color:white"> แก้ไขข้อมูลผู้ใช้งาน </h2>
        <div class='form-group' style="margin-top: 5%;">
          <div class='card'>
            <div class='card-body'>
              <div class="form-group">
                <label> ชื่อ - นามสกุล </label>
                <select name="person_id" class='form-control'>
                  <option> กรุณาเลือก </option>
                  <% if(data) { %>
                  <% for(var i=0;i<data.length;i++){ %>
                  <option value="<%= data[i].id %>" <% if(data1) if(data[i].id == data1[0].person_id) { %> selected
                    <%}%>> <%= data[i].name %> </option> <% } %> <% } %> </select> 
                    <label> ชื่อผู้ใช้งาน </label>
                    <input type="text" name="username" placeholder="กรุณาป้อนข้อมูล.." value="<%= data1[0].username %>" class="form-control">
                    <label> รหัสผ่าน </label>
                    <input type="text" name="password" placeholder="กรุณาป้อนข้อมูล.." value="<%= data1[0].password %>" class="form-control">
                    <label> ตำแหน่ง </label>
                    <% if(data1[0].admin == 1) { %> 
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name='admin' value="0" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                          ผู้ใช้งานทั่วไป
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="admin" value="1" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                          ผู้ดูแล
                        </label>
                      </div>
                    <%}else{%> 
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name='admin' value="0" id="flexRadioDefault1"
                          checked>
                        <label class="form-check-label" for="flexRadioDefault1">
                          ผู้ใช้งานทั่วไป
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="admin" value="1" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                          ผู้ดูแล
                        </label>
                      </div>
                    <% } %>
              </div>
              <button type="submit" class="btn btn-success"> แก้ไขข้อมูล </button>
              <a href="/user" class='btn btn-info'> ย้อนกลับ </a>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>

<%- include('../_footer') -%>