<%- include('../_header_admin') -%>

<div class="constainer">
  <div class="row">
    <div class="col"style="margin-top: 6%; margin-left: 40%; margin-right: 20%;">
      <h1 align='center' style="font-size: 50px; font-weight: bolder; color: white;margin-left: -53%;"> ยืนยันการลบอุปกรณ์ </h1>
      <br>
      <div style="padding-right: 55%;">
        <div class="card" >
          <div class="card-body" >
            <table class="table table-borderless">
              <td>
                    ชื่ออุปกรณ์ : <br>
                    รหัสพัสดุ : <br>
                    ประเภท : <br>
                    ห้อง :
              </td>
              <td>
                      <%=data3[0].name%>
                  <br><%=data3[0].code%>
                  <br><%=data1[0].name%>
                  <br><%=data2[0].name%>
              </td>
            </table>
              <tr>
              <td>
                  <div>
                  <a href="/deviceAdmin/delete/<%= data3[0].id %>"class="btn btn-warning"> ยืนยันการลบ </a>
                  <a onclick="window.history.back()" class="btn btn-info"> ย้อนกลับ </a>
                  </div>
              </td>
              </tr>

        </div>
      </div>
    </div>
    </div>
  </div>
<%- include('../_footer') -%>
