<%- include('../_header_admin') -%>
<div class="constainet">
  <div class="row" style="margin-top: 6%;">
    <div class="col" style="margin-right: 30%; margin-left: 30%;">
      <% if(session.success==false){%>
          <% for(var i=0;i<session.errors.errors.length;i++){%>
            <div class="alert alert-danger" role="alert">
          <%= session.errors.errors[i]["msg"] %>
            </div>
          <% } session.success=null;}%>
          <% if(session.success==true){ %>
            <div class="alert alert-success" role="alert">
              <%= session.topic %>
            </div>
          <% } session.success=null; %>
      <div>
        <div>
          <h2 align='center' style="font-size: 50px; font-weight: bolder; color: white;"> อุปกรณ์ </h2>
          <div style="padding-bottom: 2%;">
            <a href="/deviceAdmin/new" class="btn btn-primary"> เพิ่ม </a>
          </div>
          <div>
            <table class="table table-bordered table-hover" style="background-color: white; text-align: center;">
              <thead  class="table-active">
                <tr class="table-active">
                  <th>ลำดับ</th>
                  <th>ชื่ออุปกรณ์</th>
                  <th>รหัสพัสดุ</th>
                  <th>ประเภท</th>
                  <th>ห้อง</th>
                  <th>ตัวเลือก</th>
                </tr>
              </thead>
              <% if(data) {%>
              <% for(var i=0;i<data.length;i++){%>
              <tr>
                <td><%= (i+1)%> </td>
                <td><%= data[i].dname %> </td>
                <td><%= data[i].dcode %> </td>
                <td><%= data[i].tname %> </td>
                <td><%= data[i].rname %> </td>
                <td>
                  <a href="/deviceAdmin/checkdel/<%= data[i].id%>" class="btn btn-danger"> ลบ </a>
                  <a href="/deviceAdmin/edit/<%= data[i].id%>" class="btn btn-info"> แก้ไข </a>
                </td>
              </tr>
              <% } %>
              <% } %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../_footer') -%>
