<%- include('../_header_admin') -%>
<div class="constainer">
    <div class="row">
        <div class="col" style="margin-top: 5%; margin-left: 30%; margin-right: 30%;">
          <% if(session.success==false){%>
              <% for(var i=0;i<session.errors.errors.length;i++){%>
                <div class="alert alert-danger" role="alert">
              <%= session.errors.errors[i]["msg"] %>
                </div>
              <% } session.success=null;}%>
              <% if(session.success==true){ %>
                <div class="alert alert-success" role="alert">
                  <%= session.topic %>
                </div>
              <% } session.success=null; %>
            <form action="/deviceAdmin/add" method="post" class=" needs-validation" novalidate>
                <!-- <h2 align='center' style="font-size: 50px; font-weight: bolder; color: white;"> เพิ่มอุปกรณ์ </h2> -->

                    <h2 align='center' style="font-size: 50px; font-weight: bolder; color: white;"> เพิ่มอุปกรณ์ </h2>
                    <br>

                    <div class="card" >
                      <div class="card-body" style="padding-top: 5px;">
                <div class='form-group'>
                </div>
                <label> ชื่ออุปกรณ์ </label>
                <div class='form-group'>
                    <input type="text" name='name' placeholder="กรุณาป้อนข้อมูล..." class='form-control'>
                    <div class="invalid-feedback">
                        กรุณาใส่ประเภท
                    </div>
                </div>
                <label> รหัสพัสดุ </label>
                <div class='form-group'>
                    <input type="text" name='code' placeholder="กรุณาป้อนข้อมูล..." class='form-control'>
                    <div class="invalid-feedback">
                        กรุณาใส่ประเภท
                    </div>
                </div>
                <div>
                    <label> ประเภท </label>
                    <select name='type_id' class='form-control'>
                        <option selected disabled value=""> กรุณาเลือก </option>
                        <% if(data1){ %>
                        <% for(var i=0;i<data1.length;i++){ %>
                        <option value="<%= data1[i].id %>" > <%= data1[i].name %> </option>

                        <% } %>
                        <% } %>
                    </select>
                    <div class="invalid-feedback">
                        กรุณาเลือก
                    </div>
                    <!-- <label for="validationCustom04" class="form-label">State</label>
                    <select class="form-select" id="validationCustom04" required>
                        <option selected disabled value="">Choose...</option>
                        <option>...</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid state.
                    </div> -->
                </div>
                <div style="padding-top: 1%;">
                    <label> ห้อง </label>
                    <select name="room_id" class='form-control'>
                        <option selected disabled value=""> กรุณาเลือก </option>
                        <% if(data2){ %>
                        <% for(var i=0;i<data2.length;i++){ %>
                        <option value="<%= data2[i].id %>"> <%= data2[i].name %> </option>
                        <% } %>
                        <% } %>
                    </select>
                    <div class="invalid-feedback">
                        กรุณาเลือก
                    </div>
                </div>
                <div style='padding-top: 2%'>
                    <button type='submit' class='btn btn-success'> เพิ่มข้อมูล </button>
                    <a href="/deviceAdmin" class="btn btn-info"> ย้อนกลับ </a>
                </div>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- <script>
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script> -->


<%- include('../_footer') -%>
