<%- include('../_header_admin') -%>
<div class="constainer">
    <div class="row">
        <div class="col"  style="margin-top: 6%; margin-left: 30%; margin-right: 30%;">
          <% if(session.success==false){%>
              <% for(var i=0;i<session.errors.errors.length;i++){%>
                <div class="alert alert-danger" role="alert">
              <%= session.errors.errors[i]["msg"] %>
                </div>
              <% } session.success=null;}%>
              <% if(session.success==true){ %>
                <div class="alert alert-success" role="alert">
                  <%= session.topic %>
                </div>
              <% } session.success=null; %>
            <form action="/deviceAdmin/update/<%=data3[0].id %>" method="post" class=" needs-validation" novalidate>
                <h2 align='center' style="font-size: 50px; font-weight: bolder; color: white;"> แก้ไขอุปกรณ์ </h2>
                <br>
                <div class="card">
                  <div class="card-body" style="padding-bottom: 2px;padding-top: 20px;">
                <div class='form-group'>
                    <div class="form-group">
                        <label> ชื่ออุปกรณ์ </label>
                        <div>
                            <input type="text" name="name" placeholder = 'กรุณาป้อนข้อมูล..' value=" <%= data3[0].name %>" class="form-control" required>
                            <div class="invalid-feedback">
                                กรุณาใส่ชื่อ
                            </div>
                        </div>
                        <label> รหัสพัสดุ </label>
                        <div>
                            <input type="text" name="code" placeholder = 'กรุณาป้อนข้อมูล..' value=" <%= data3[0].code %>" class="form-control" required>
                            <div class='invalid-feedback'>
                                กรุณาใส่รหัสพัสดุ
                            </div>
                        </div>
                        <label> ประเภท </label>
                        <div>
                            <select name='type_id' class='form-control' required>
                                <option selected disabled value=""> กรุณาเลือก </option>
                                <% if(data1){ %>
                                <% for(var i=0;i<data1.length;i++){ %>
                                <option value="<%= data1[i].id %>" <% if(data3) if(data1[i].id==data3[0].type_id){%>
                                    selected <% } %>> <%= data1[i].name %> </option>
                                <% } %>
                                <% } %>
                            </select>
                            <div class='invalid-feedback'>
                                กรุณาเลือกประเภท
                            </div>
                        </div>
                        <label> ห้อง </label>
                        <div>
                            <select name='room_id' class='form-control' required>
                                <option selected value=""> กรุณาเลือก </option>
                                <% if(data2){ %>
                                <% for(var i=0;i<data2.length;i++){ %>
                                <option value="<%= data2[i].id %>" <% if(data3) if(data2[i].id==data3[0].room_id){%>
                                    selected <% } %>> <%= data2[i].name %></option>
                                <% } %>
                                <% } %>
                            </select>
                            <div class='invalid-feedback'>
                                กรุณาเลือกห้อง
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success"> แก้ไขข้อมูล </button>
                    <a href="/deviceAdmin" class='btn btn-info'> ย้อนกลับ </a>
            </form>
        </div>
    </div>
</div>

<script>
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>

<%- include('../_footer') -%>
