<%- include('../_header_admin'); -%>

<div class="constainer">
  <div class="row">
    <div class="col" style="margin-top: 4%; margin-left: 30%; margin-right: 33%;">
      <% if(session.success==false){ %>
        <% for(var i=0;i<session.errors.errors.length;i++){ %>
        <div class='alert alert-danger' role='alert'>
          <%= session.errors.errors[i]["msg"] %>
        </div>
        <% } session.success=null; } %>
        <% if(session.success==true){ %>
        <div class='alert alert-success' role='alert'>
          <%= session.topic%> </div>
        <% } session.success=null; %>
      <h1 align='center' style="font-size: 50px; font-weight: bolder; color: white;"> ยืนยันการลบโปรแกรมวิชา </h1>
      <div style="padding-top: 3%;">
        <div class="card" style="margin-left: 5; margin-right: 5%;">
          <div class="card-body">
              <table class="table table-borderless">
                <td>
                    โปรแกรมวิชา : <br>
                    คณะ : <br>
                </td>
                <td>
                  <%= data1[0].name %><br>
                  <% for(var i=0;i<data1.length;i++){ %> 
                    <% if(data1[0].department_id == data2[i].id) { %> 
                      <%= data2[i].name %>  
                    <%}%>
                  <%}%>
                </td>
              </table>
            <a href="/major/delete/<%= data1[0].id %>"class="btn btn-warning"> ยืนยันการลบ </a>
            <a href="/major/" class="btn btn-info"> ย้อนกลับ </a>  
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%- include('../_footer'); -%>
