<%- include('../_header_admin') -%>

<div class="container">
  <div class="row">
    <div class="col" style="margin-top: 8%; margin-left: 20%; margin-right: 20%;">
      <% if(session.success==false){ %>
        <% for(var i=0;i<session.errors.errors.length;i++){ %>
        <div class='alert alert-danger' role='alert'>
          <%= session.errors.errors[i]["msg"] %>
        </div>
        <% } session.success=null; } %>
        <% if(session.success==true){ %>
        <div class='alert alert-success' role='alert'>
          <%= session.topic%> </div>
        <% } session.success=null; %>
      <h2 align='center' style="font-size: 50px; font-weight: bolder; color:white;"> โปรแกรมวิชา </h2>
      <div style="padding-top: 2%;">
        <a href="/major/new" class="btn btn-primary"> เพิ่ม </a>
      </div>
      <div style="padding-top: 3%;">
        <table class="table table-bordered table-hover table-active text-center" style="background-color: white;">
          <thead class='table-active'>
            <tr class='table-active'>
              <th>ลำดับ</th>
              <th>โปรแกรมวิชา</th>
              <th>ตัวเลือก</th>
            </tr>
          </thead>
          <tbody>
              <% if(data){ %>
                <% for(var i=0;i<data.length;i++){ %>
                  <tr>
                    <td> <%= (i+1) %></td>
                    <td> <%= data[i].cv %></td>
                    <td>
                      <a href="/major/checkdelete/<%= data[i].id %>"  class="btn btn-danger"> ลบ </a>
                      <a href="/major/update/<%= data[i].id %>"  class="btn btn-info"> แก้ไข </a>
                  </tr>
                <%  } %>
              <%  } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%- include('../_footer') -%>
