<%- include('../_header_admin') -%>

<div class="constainer">
  <div class="row">
    <div class='col' style="margin-top: 5%; margin-left: 30%; margin-right: 30%;">
      <% if(session.success==false){ %>
      <% for(var i=0;i<session.errors.errors.length;i++){ %>
      <div class='alert alert-danger' role='alert'>
        <%= session.errors.errors[i]["msg"] %>
      </div>
      <% } session.success=null; } %>
      <% if(session.success==true){ %>
      <div class='alert alert-success' role='alert'>
        <%= session.topic%> </div>
      <% } session.success=null; %>
      <h3 align='center' style="font-size: 50px; font-weight: bolder; color: white;"> แก้ไขโปรแกรมวิชา </h3>
    </div>
    <div class="col" style="margin-top: 2%; margin-left: 38%; margin-right: 38%;">
      <div class='card'>
        <div class='card-body'>
          <form action="/major/update/<%=data1[0].id %>" method="post">
            <div class='form-group'>
              <div class="form-group">
                <label> โปรแกรมวิชา : </label>
                <% if(data1){%>
                <input type="text" name="name" value="<%= data1[0].name %>" placeholder='กรุณป้อนข้อมูล...' class="form-control">
                <% } %>
                <lable> คณะ </lable>
                <select name="department_id" class='form-control'>
                <option> กรุณเลือก </option>
                  <% if(data2) { %> 
                    <% for(var i=0;i<data2.length;i++) {%> 
                      <option value="<%= data2[i].id %>" <% if(data1) if(data2[i].id == data1[i].department_id) { %> selected <%}%>> <%= data2[i].name %> </option>
                    <%}%>  
                  <%}%>
                </select><br>
                <button type="submit" class="btn btn-success"> แก้ไขข้อมูล </button>
                <a href="/major/" class="btn btn-info"> ย้อนกลับ </a>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<%- include('../_footer') -%>