<%- include('../_header_admin') -%>
<div class="container">
  <div class="row">
    <div class="col" style="margin-top: 8%; margin-left: 30%; margin-right: 30%;">
      <% if(session.success==false){ %>
      <% for(var i=0;i<session.errors.errors.length;i++){ %>
      <div class='alert alert-danger' role='alert'>
        <%= session.errors.errors[i]["msg"] %>
      </div>
      <% } session.success=null; } %>
      <% if(session.success==true){ %>
      <div class='alert alert-success' role='alert'>
        <%= session.topic%> </div>
      <% } session.success=null; %>
      <h2 align='center' style="font-size: 50px; font-weight: bolder; color:white"> เพิ่มโปรแกรมวิชา </h2>
      <form action="/major/add" method="post">
        <div style="margin-top: 10%;">
          <div class='card'>
            <div class='card-body'>
              <div class='form-group' style="padding-top: 5%;">
                <label> โปรแกรมวิชา </label>
                <div class='form-group'>
                  <input type="text" name='name' placeholder="กรุณาป้อนข้อมูล.." class='form-control'>
                </div>
                <lable> คณะ </lable>
                <select class='form-control' name="department_id"> 
                  <option> กรุณาเลือก </option>
                  <% if(data2) { %>
                    <% for(var i=0;i<data2.length;i++){ %> 
                      <option value="<%= data2[i].id %>"> <%= data2[i].name %> </option>
                    <%}%>  
                  <%}%>
                </select>
                <br>
                <button type='submit' class='btn btn-success'> เพิ่มข้อมูล </button>
                <a href="/major/" class="btn btn-info"> ย้อนกลับ </a>
              </div>
            </div>
        </div>
      </form>
    </div>
  </div>
</div>

<%- include('../_footer') -%>