<%- include('../_header_user') -%>
<div class="container">
  <div class="row">
    <div style="margin-top: 8%;margin-left: 27%; margin-right: 20%;">
<h3 align='center' style="font-size: 50px; font-weight: bolder; color: white;">รายละเอียดการคืนอุปกรณ์</h3>
    </div>

    <div class="col" style="margin-top: 8%;margin-left: 20%; margin-right: 20%; ">

      <div class="container" >
        <div class="card">
          <div class="card-body">
        <table class="table table-bordered table-hover" style="background-color: white;">
          <thead class="table-active">
          <tr class="table-active text-center">
            <th>รายละเอียด</th>
            <th>ข้อมูล</th>
          </tr>
        </thead>
        <tbody >
          <tr>
            <td>ชื่อ-นามสกุล<br>
              รหัสนักศึกษา<br>
              เบอร์โทรศัพท์<br>
              โปรแกรมวิชา<br>
              คณะ<br>
              ชั้นปี<br>
              อุปกรณที่ยืม<br>
              รหัสพัสดุ<br>
              ประเภท<br>
              ห้องที่เก็บ<br>
              วันที่ยืม<br>
              วันที่ต้องคืน<br>
              วันที่คืน<br>
            </td>
            <td>
              <%=data[0].pname%><br>
              <%=data[0].ps%><br>
              <%=data[0].pm%><br>
              <%=data[0].mname%><br>
              <%=data[0].dpname%><br>
              <%=data[0].gname%><br>
              <%=data[0].dn%><br>
              <%=data[0].dc%><br>
              <%=data[0].tn%><br>
              <%=data[0].rn%><br>
              <%=data[0].br%><br>
              <%=data[0].re%><br>
              <%=data[0]._get%><br>
            </td>
          </tr>
        </tbody>
          </table>
          <a href="/return" class="btn btn-info" style="margin-left: 85%;" > ย้อนกลับ </a>
          </div>
          </div>
      </div>
    </div>
  </div>
</div>

<%- include('../_footer') -%>
