
<%- include ('../_header_user') -%>

<div class="container">
  <div class="row">
    <div class="col" style="margin-top: 8%;">
      <h3 align='center' style="font-size: 50px; font-weight: bolder; color:white;"> คืนอุปกรณ์ </h3>
      <table class="table table-bordered table-hover"
        style="text-align: center; background-color:white; border-collapse: collapse;">
        <thead class="table-active">
          <div class='font-color' style="margin-top: 5%;">
            <tr class="table-active text-center">
              <th>ลำดับ</th>
              <th>ชื่ออุปกรณ์</th>
              <th>ประเภท</th>
              <th>ห้อง</th>
              <th>วันที่ยืม</th>
              <th>วันที่ต้องคืน</th>
              <th>วันที่คืน</th>
              <th>ตัวเลือก</th>
            </tr>
          </thead>
          <tbody class='text-center'>
            <% if (data){ %>
            <% var j = 0 %>
            <% for(var i=0;i < data.length;i++){ %>
            <% if(data[i].uid == data1) { %>
              <% j+=1 %>
                <tr>
                  <td><%= j %></td>
                  <td><%= data[i].dn %></td>
                  <td><%= data[i].tn %></td>
                  <td><%= data[i].rn %></td>
                  <td><%= data[i].br %></td>
                  <td><%= data[i].re %></td>
                  <td><%= data[i]._get %></td>
                  <td>
                    <a href="/return/detail/<%=data[i].id%>"class="btn btn-info">รายละเอียด</a>
                  </td>
                </tr>
                <%}%>
              <%}%>
              <%}%>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%- include ('../_footer') -%>
