* {
    box-sizing: border-box
}

body {
    padding: 0px;
    margin: 0px;
    background: center 0px url(/assets/images/124452.jpg);
    font-family: 'Prompt', sans-serif;
    /* width: 10%;
    padding-bottom: 100%; */
    /* background: center; */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

image {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

header {
    background: #00000060;
    height: 69px;
}

header * {
    color: rgb(255, 255, 255);

}


header .logo {
    float: left;
    height: inherit;
    margin-left: 2em;
}

header .logo-text {
    margin: 9px;
    font-family: 'Prompt', sans-serif;
}

header .logo-text span {
    color: rgb(255, 178, 91);
}

header ul {
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

header ul li {
    float: left;
    position: relative;
}

header ul li ul {
    position: absolute;
    /* top: 66px; */
    /* right: 0px; */
    width: 100%;
    display: none;
}

header ul li:hover ul {
    display: block;
}

header ul li ul li {
    width: 100%;
}

header ul li ul li a {
    padding: 10px;
    background: #00000052;
}

/* header ul li ul li a.logout{
    color: red;
} */

header ul li ul li a:hover {
    background: #0000007c;
    color: rgb(255, 187, 0);
}


header ul li a {
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
}

header ul li a:hover {
    background: #0000007c;
    color: rgb(255, 187, 0);
    transition: 0.5s;
}


header .menu-toggle {
    display: none;
}

.toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: #330748;
    cursor: pointer;
}

.toggle:hover{
    background: #ea1d63;
}

.toggle:before{
content: '\f0c9';
font-family: fontAwesome;
position: absolute;
width: 100%;
height: 100%;
line-height: 60px;
text-align: center;
font-size: 24px;
color: #fff;
}

.toggle:hover:before{
    content: '\f00d';
    }

    
/* MEDIA QUERIES MOBILE */
@media only screen and (max-width:1150px) {
    header {
        position: relative;
    }

    header ul {
        width: 100%;
        background: #00000052;
        max-height: 0px;
        overflow: hidden;
    }

    .showing {
        max-height: 100em;
    }


    header ul li {
        width: 100%;
    }

    header ul li ul {
        position: static;
        /* display: block; */
        width: 100%;
        /* background: inherit; */
    }

    header ul li ul li a {
        padding: 10px;
        background: #00000042;
        padding-left: 50px;
    }

    header ul li ul li a:hover{
        background: #00000052;
        /* background: url(/assets/images/menu.png); */

    }

    header ul li ul li a.logout{
        color: red;
  
    }

    header .menu-toggle {
        padding: 2px 13px;
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 1.9em;

    }

    .menu-toggle:hover {
        padding: 2px 13px;
        background: #3d3d3d96;
        color: rgb(255, 187, 0);
        border-radius: 50px;

    }

    header .logo {
        margin-left: .8em;
    }

    /* #tag-menu {
        display: none;
      }
      #tag-menu:checked~div.drawer {
        animation: slide-in 0.5s ease;
        animation-fill-mode: forwards;
      } */

}
.fontW{
    text-shadow: white;
}