<%- include('../_header_admin'); -%>

<div class="constainer">
  <div class="row">
    <% if(session.success==false){ %>
    <% for(var i=0;i<session.errors.errors.length;i++){ %>
    <div class='alert alert-danger' role='alert'>
      <%= session.errors.errors[i]["msg"] %>
    </div>
    <% } session.success=null; } %>
    <% if(session.success==true){ %>
    <div class='alert alert-success' role='alert'>
      <%= session.topic%> </div>
    <% } session.success=null; %>
    <div class="col" style="margin-top: 6%; margin-left: 22%; margin-right: 22%;">
      <h1 align='center' style="font-size: 50px; font-weight: bolder; color:white"> ยืนยันการลบการยืมอุปกรณ์ </h1>
      <div style="padding-top: 5%; margin-left: 32%; margin-right: 32%;">
        <div class="card">
          <div class="card-body">
            <table class='table table-borderless'>
              <td>

                ชื่อผู้ยืม :<br>
                ชื่ออุปกรณ์ :<br>
                วันที่ยืม:<br>
                วันที่ต้องคืน: <br>

              </td>
              <td>

                <% for(var i = 0;i<data1.length;i++){ %>
                <% if(data1[i].id == data3[0].person_id) { %>
                <%= data1[i].name %>
                <% } %>
                <% } %><br>
                <% for(var i = 0;i<data2.length;i++){ %>
                <% if(data2[i].id == data3[0].device_id) { %>
                <%= data2[i].name %>
                <% } %>
                <% } %><br>
                <% for(var i = 0;i<data3.length;i++){ %>
                <% if(data3[i].id == data3[0].id) { %>
                <%= data3[i].borrow_date %>
                <% } %>
                <% } %><br>
                <% for(var i = 0;i<data3.length;i++){ %>
                <% if(data3[i].id == data3[0].id) { %>
                <%= data3[i]._return %>
                <% } %>
                <% } %>
              </td>
            </table>
            <div style="padding-top: 5%;">
              <a href="/borrowAdmin/delete/<%= data3[0].id %>" class="btn btn-warning"> ยืนยันการลบ </a>
              <a href="/borrowadmin" class='btn btn-info'> ย้อนกลับ </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<%- include('../_footer'); -%>