<%- include('../_header_admin'); -%>
<div class="container">
  <div class="row" style="margin-top: 10%;">
    <div class="col" style="align-items: center;">
      <% if(session.success==false){ %>
                <% for(var i=0;i<session.errors.errors.length;i++){ %>
                <div class='alert alert-danger' role='alert'>
                  <%= session.errors.errors[i]["msg"] %>
                </div>
                <% } session.success=null; } %>
                <% if(session.success==true){ %>
                <div class='alert alert-success' role='alert'>
                  <%= session.topic%> </div>
                <% } session.success=null; %>
      <h3 align="center" style="font-size: 50px; font-weight: bolder; color:white; text-shadow: 2%;">  ยืมอุปกรณ์ </h3>
      <div class="container mt-1">
        <p style="padding-top: 2%;"><a href="/borrowadmin/new" class="btn btn-primary"> เพิ่ม </a></p>
        <table class="table table-bordered table-hover" style="text-align: center; background-color:white; border-collapse: collapse;">
          <thead class="text-center table-active">
            <tr class="table-active">
              <th>ลำดับ</th>
              <th>ชื่อผู้ยืม</th>
              <th>ชื่ออุปกรณ์</th>
              <th>วันที่ยืม</th>
              <th>วันที่ต้องคืน</th>
              <th colspan="3">ตัวเลือก</th>
            </tr>
          </thead>

          <% if (data) { %>
          <% for(var i=0; i <data.length; i++) { %>
          <tr>
            <td><%= (i+1) %></td>
            <td><%= data[i].pname%> </td>
            <td><%= data[i].dename%> </td>
            <td><%= data[i].date%> </td>
            <td><%= data[i].gd%> </td>
            <td style="padding-left: 1%; ">
              <a href="/borrowAdmin/check/<%= data[i].id %>" class="btn btn-danger"> ลบ </a>
            </td>
            <td style="padding-left: 1%; ">
              <a href="/borrowAdmin/update/<%= data[i].id %>" class="btn btn-info"> แก้ไข </a>
            </td>
            <td style="padding-left: 1%; ">
              <a href="/borrowAdmin/detail/<%= data[i].id %>" class="btn btn-info"> รายละเอียด </a>
            </td>
          </tr>
          <% } %>
          <% } %>
        </table>
      </div>
    </div>
  </div>
</div>


<%- include('../_footer'); -%>
