<%- include("../_header_admin"); -%>
<div class="container mt-5">
  <div class="row" style="margin-top: 10%;">
    <div class="col -mt-7">
      <% if(session.success==false){ %>
                <% for(var i=0;i<session.errors.errors.length;i++){ %>
                <div class='alert alert-danger' role='alert'>
                  <%= session.errors.errors[i]["msg"] %>
                </div>
                <% } session.success=null; } %>
                <% if(session.success==true){ %>
                <div class='alert alert-success' role='alert'>
                  <%= session.topic%> </div>
                <% } session.success=null; %>
      <h1 align='center' style="font-size: 50px; font-weight: bolder; color: white;"> เพิ่มการยืมอุปกรณ์ </h1>
      <div class="card">
        <div class="card-body">
      <form action="/borrowAdmin/add" method="post" class='needs-validation' novalidate>
        <div class="form-group">
          <label> ชื่อนักศึกษา</label> <a href="/personAdmin/new"> เพิ่ม </a>
          <select class="form-control" name="person_id" >
            <option> กรุณาเลือก </option>
              <% if(data1){ %>
            <% for (var i = 0; i < data1.length; i++) { %>
              <option value="<%= data1[i].id %>"> <%= data1[i].name%> </option>
            <%}%>
          <%}%>
          </select>
          <div class='invalid-feedback'>
            กรุณาเลือกชื่อนักศึกษา
          </div>
        </div>
        <div class="form-group">
          <label> ชื่ออุปกรณ์ </label> <a href="/deviceAdmin/new"> เพิ่ม </a>
          <select class="form-control" name="device_id" >
            <option> กรุณาเลือก </option>
              <% if(data2){ %>
            <% for (var i = 0; i < data2.length; i++) { %>
              <option value="<%= data2[i].id %>"> <%= data2[i].name%> </option>
            <%}%>
          <%}%>
          </select>
          <div class='invalid-feedback'>
            กรุณาเลือกชื่ออุปกรณ์
          </div>
        </div>
        <div class="form-group">
          <label> วันที่ยืม </label>
           <input type="text" name="borrow_date" value='<%= data4[0].CUR %>' class="form-control" readonly>
           <!-- <input type="date" name='borrow_date' placeholder="borrow_date" class='form-control' > -->
           <!-- <input type="date" name='borrow_date' value="<%= data4 %>" class='form-control' readonly> -->
           <div class='invalid-feedback'>
            กรุณาเลือกวันที่ยืม
          </div>
         </div>
      <div class="form-group">
        <label for=""> วันที่ต้องคืน </label>
          <input type="date" name="_return" placeholder="_return date" class="form-control" >
          <div class='invalid-feedback'>
            กรุณาเลือกวันที่คืน
          </div>
        </div>
        <button type="submit" class="btn btn-success"> เพิ่มข้อมูล  </button>
        <a href='/borrowadmin' class='btn btn-info'> ย้อนกลับ </a>
      </form>
      </div>
      </div>

    </div>
  </div>
</div>
<script>
  (function(){
    'use strict'

    // Fatch all the forms we want to apply Bootstrap validation styles to
    var forms = document.querySelectorALL('.needs-validation')

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function(form){
        form.addEventListener('submit',function (event){
          if(!form.checkValidity()){
            event.preventDefault()
            event.stopPropagation()
          }
          form.classList.add('was-validated')
        }, false)
      })
  })()
</script>

<%- include("../_footer"); -%>
