<%- include("../_header_admin"); -%>
<div class="container mt-5">
  <div class="row" style="margin-top: 10%;">
    <div class="col -mt-7">
      <% if(session.success==false){ %>
                <% for(var i=0;i<session.errors.errors.length;i++){ %>
                <div class='alert alert-danger' role='alert'>
                  <%= session.errors.errors[i]["msg"] %>
                </div>
                <% } session.success=null; } %>
                <% if(session.success==true){ %>
                <div class='alert alert-success' role='alert'>
                  <%= session.topic%> </div>
                <% } session.success=null; %>
      <h1 align='center' style="font-size: 50px; font-weight: bolder; color: white;"> แก้ไขการยืมอุปกรณ์ </h1>
      <div class="card">
        <div class="card-body">
      <form action="/borrowAdmin/update/<%= data3[0].id %>" method="post">
        <div class="form-group">
          <label> ชื่อนักศึกษา</label> <a href="/person/new"> เพิ่ม </a>
          <select class="form-control" name="person_id">
            <option> กรุณาเลือก </option>
            <% if(data1){ %>
            <% for (var i = 0; i < data1.length; i++) { %>
            <option value="<%= data1[i].id %>" <% if(data3) if(data1[i].id==data3[0].person_id){%> selected <% }%>>
              <%= data1[i].name%> </option>
            <%}%>
          <%}%>
          </select>
        </div>
        <div class="form-group">
          <label> ชื่ออุปกรณ์ </label> <a href="/device/new"> เพิ่ม </a>
          <select class="form-control" name="device_id">
            <option> กรุณาเลือก </option>
            <% if(data2){ %>
            <% for (var i = 0; i < data2.length; i++) { %>
            <option value="<%= data2[i].id %>" <% if(data3) if(data2[i].id==data3[0].device_id){%> selected <% }%>>
              <%= data2[i].name%> </option>
            <%}%>
          <%}%>
          </select>
        </div>
        <div class="form-group">
          <%  if(data3) { %>
          <label> วันที่ยืม </label>
          <input type="text" name="borrow_date" value="<%= data3[0].borrow_date %>" onfocus="(this.type='date')" class="form-control">
          <% } %>
        </div>
        <div class="form-group">
          <%  if(data3) { %>
          <label> วันที่ต้องคืน </label>
        <input type="text" name="_return" value="<%= data3[0]._return %>" onfocus="(this.type='date')" class="form-control">
          <% } %>
          </div>
        <button type="submit" class="btn btn-success"> แก้ไขข้อมูล </button>
        <a href='/borrowadmin' class='btn btn-info'> ย้อนกลับ </a>
      </form>
    </div>
  </div>
    </div>
  </div>
</div>

<%- include("../_footer"); -%>
