<%- include("../_header_user"); -%>

<div class="container">
  <div class="row">
    <div class="col" style="margin-top: 8%; margin-left: 25%; margin-right: 20%;">
        <h3 align="center" style="font-size: 50px; font-weight: bolder; color:white;"> ข้อมูลบุคคล </h3>
        <table class="table table-bordered table-hover" style="margin-top: 9%; background-color: white;">
          <thead class='table-active text-center'>
            <tr class="table-active">
              <th>รายการ</th>
              <th>ข้อมูล</th>
            </tr>
          </thead>
          <tr>
              <td>ชื่อ-นามสกุน<br>
                รหัสนักศึกษา<br>
                เบอร์โทรติดต่อ<br>
                โปรแกรมวิชา<br>
                คณะ<br>
                ชั้นปี<br>
                ชื่อผู้ใช้งาน<br>
                รหัสผ่าน <br>
              </td>
              <td>
              <% for(var i=0;i<data.length;i++) {%>
              <% if(data[i].uid == data1) {%>
                  <%=data[i].pname %><br>
                  <%=data[i].code %><br>
                  <%=data[i].mobile %><br>
                  <%=data[i].mname %><br>
                  <%=data[i].dpname %><br>
                  <%=data[i].gname %><br>
                  <%=data[i].user %><br>
                  <%=data[i].pass %><br>
              <%}%>
               <%}%>
            </td>
          </tr>
        </table>
    </div>
  </div>
</div>
<%- include("../_footer"); -%>
