<%- include('../_header_admin'); -%>

<div class="constainer">
  <div class="row">
    <div class="col" style="margin-top: 6%; margin-left: 35%; margin-right: 35%;">
      <h1 align='center' style="font-size: 50px; font-weight: bolder; color:white"> ยืนยันการลบบุคคล </h1>
      <div style="padding-top: 5%;">
        <div class="card">
          <div class="card-body">
            <table>
              <td>
                ชื่อ-นามสกุล :<br>
                รหัสนักศึกษา :<br>
                เบอร์โทรติดต่อ:<br>
                โปรแกรมวิชา: <br>
                คณะ :<br>
                ชั้นปี :<br>

              </td>
              <td>
             <%= data[0].name %><br>
             <%= data[0].studentcode %><br>
             <%= data[0].mobile %><br>
             <% for(var i = 0;i<data1.length;i++){ %>
             <% if(data1[i].id == data[0].major_id) { %>
             <%= data1[i].name %>
             <% } %>
             <% } %><br>
             <% for(var i = 0;i<data3.length;i++){ %>
             <% if(data3[i].id == data1[0].department_id) { %>
              <%= data3[i].name %>
             <% } %>
             <% } %><br>
             <% for(var i = 0;i<data2.length;i++){ %>
             <% if(data2[i].id == data[0].group_id) { %>
              <%= data2[i].name %>
             <% } %>
             <% } %>
              </td>
            </table>
            <div style="padding-top: 5%;">
              <a href="/personAdmin/delete/<%= data[0].id %>" class="btn btn-warning"> ยืนยันการลบ </a>
              <a onclick="window.history.back()" class="btn btn-info"> ย้อนกลับ </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../_footer'); -%>
