<%- include('../_header_admin') -%>

<div class="container">
  <div class="row">
    <div class='col' style="margin-top: 10%; margin-left: 2%; margin-right: 2%;">
      <% if(session.success==false){%>
              <% for(var i=0;i<session.errors.errors.length;i++){%>
                <div class="alert alert-danger" role="alert">
              <%= session.errors.errors[i]["msg"] %>
                </div>
              <% } session.success=null;}%>
              <% if(session.success==true){ %>
                <div class="alert alert-success" role="alert">
                  <%= session.topic %>
                </div>
              <% } session.success=null; %>
      <h3 align="center" style="font-size: 50px; font-weight: bolder; color: white;"> บุคคล </h3>
      <p style="padding-top: 2%;"><a href="/personAdmin/new" class="btn btn-primary"> เพิ่ม </a></p>
      <table class="table table-bordered table-hover text-center" style="background-color: white;">
      <thead class='table-active'>
        <tr class="table-active">
          <th>ลำดับ</th>
          <th>ชื่อ - นามสกุล</th>
          <th>รหัสนักศึกษา</th>
          <th>เบอร์โทรติดต่อ</th>
          <th>โปรแกรมวิชา</th>
          <th>คณะ</th>
          <th>ชั้นปี</th>
          <th colspan="2">ตัวเลือก</th>
        </tr>
      </thead>
      <% if(data){ %>
      <% for(var i=0;i<data.length;i++){ %>
      <tr>
        <td><%= (i+1) %></td>
        <td><%= data[i].pname %></td>
        <td><%= data[i].pstu %></td>
        <td><%= data[i].pm %></td>
        <td ><%= data[i].mname %></td>
        <td><%= data[i].dname %></td>
        <td style="width:8%;"><%= data[i].gname %></td>
        <td>
          <a href="/personAdmin/checkdelete/<%= data[i].id %>" class="btn btn-danger"> ลบ </a>
        </td>
        <td>
            <a href="/personAdmin/update/<%= data[i].id %>" class="btn btn-info"> แก้ไข </a>
        </td>
      </tr>
      <% } %>
      <% } %>
      </table>
    </div>
  </div>
</div>





<%- include('../_footer') -%>
