<%- include('../_header_admin') -%>
<div class="constainer">
    <div class="row">
      <div class="col" style="margin-top: 6%; margin-left: 30%; margin-right: 30%;">
        <% if(session.success==false){%>
                <% for(var i=0;i<session.errors.errors.length;i++){%>
                  <div class="alert alert-danger" role="alert">
                <%= session.errors.errors[i]["msg"] %>
                  </div>
                <% } session.success=null;}%>
                <% if(session.success==true){ %>
                  <div class="alert alert-success" role="alert">
                    <%= session.topic %>
                  </div>
                <% } session.success=null; %>
          <form action="/personAdmin/update/<%=data2[0].id %>" method="post">
            <h2 align='center' style="font-size: 50px; font-weight: bolder; color:white"> แก้ไขข้อมูลบุคคล </h2>
            <div class="card">
              <div class="card-body">
            <div class='form-group'>
                    <div class="form-group">
                      <label> ชื่อ-นามสกุล </label>
                      <input type="text" name="name"  placeholder = 'กรุณาป้อนข้อมูล..' value="<% if(data2){%> <%= data2[0].name %> <%}%>" class="form-control">
                      <label> รหัสนักศึกษา </label>
                      <input type="text" name="studentcode"  placeholder = 'กรุณาป้อนข้อมูล..' value="<% if(data2){%> <%= data2[0].studentcode %> <%}%>" class="form-control">
                      <label> เบอร์โทรติดต่อ </label>
                      <input type="text" name="mobile"  placeholder = 'กรุณาป้อนข้อมูล..' value="<% if(data2){%> <%= data2[0].mobile %> <%}%>" class="form-control">
                      <label> โปรแกรมวิชา </label>
                      <select name='major_id'class='form-control'>
                                            <option> กรุณาเลือก </option>
                                                  <% if(data1){ %>
                                                <% for(var i=0;i<data1.length;i++){ %>
                                                    <option value="<%=data1[i].id%>"<%if(data2)if(data1[i].id==data2[0].major_id){%>selected<%}%>><%=data1[i].name%></option>
                                                <% } %>
                                            <% } %>
                                        </select>
                      <label> ชั้นปี </label>
                          <select name='group_id'class='form-control'>
                                <option> กรุณาเลือก </option>
                                    <% if(data){ %>
                                  <% for(var i=0;i<data.length;i++){ %>
                                      <option value="<%=data[i].id%>"<%if(data2)if(data[i].id==data2[0].group_id){%>selected<%}%>><%=data[i].name%></option>
                                        <% } %>
                                    <% } %>
                              </select>
                    </div>
                    </div>
                    <button type="submit" class="btn btn-primary"> แก้ไขข้อมูล </button>
                    <a href="/personAdmin" class='btn btn-info'> ย้อนกลับ </a>
                    </div>
                    </div>

                </form>
            </div>
      </div>
</div>

<%- include('../_footer') -%>
