<%- include('../_header_admin') -%>

 <div class="container mt-5">

   <div class="row">
     <div class="col" style="margin-top: 7%; margin-left: 25%; margin-right: 25%;">
      <% if(session.success==false){%>
              <% for(var i=0;i<session.errors.errors.length;i++){%>
                <div class="alert alert-danger" role="alert">
              <%= session.errors.errors[i]["msg"] %>
                </div>
              <% } session.success=null;}%>
              <% if(session.success==true){ %>
                <div class="alert alert-success" role="alert">
                  <%= session.topic %>
                </div>
              <% } session.success=null; %>
      <form action="/personAdmin/add" method="post">
        <div class='form-group'>
          <label style="font-size:50px; font-weight: bolder; color: white; padding-left: 27%;"> เพิ่มบุคคล </label>
          <div class="card">
            <div class="card-body">
        <div class='form-group'>
          <div class='form-group'>
          <label> ชื่อ-นามสกุล </label>
          <input type="text" name='name' placeholder="กรุณาป้อนข้อมูล.." class='form-control'>
          <label> รหัสนักศึกษา </label>
          <input type="text" name="studentcode" placeholder="กรุณาป้อนข้อมูล.." class='form-control'>
          <label> เบอร์โทรติดต่อ </label>
          <input type="text" name="mobile"  placeholder="กรุณาป้อนข้อมูล.." class='form-control'>
          <label> โปรแกรมวิชา </label>
           <select name='major_id'class='form-control'>
                                <option> กรุณาเลือก </option>
                                      <% if(data1){ %>
                                    <% for(var i=0;i<data1.length;i++){ %>
                                        <option value="<%=data1[i].id%>"><%=data1[i].name%> </option>
                                    <% } %>
                                <% } %>
                            </select>
          <label> ชั้นปี  </label>
              <select name='group_id'class='form-control'>
                    <option> กรุณาเลือก </option>
                        <% if(data2){ %>
                      <% for(var i=0;i<data2.length;i++){ %>
                          <option value="<%=data2[i].id%>"><%=data2[i].name%> </option>
                            <% } %>
                        <% } %>
                  </select>
        </div>
        </div>
        <button type='submit' class='btn btn-success'> เพิ่มบุคคล </button>
          <a href="/personAdmin" class='btn btn-info'> ย้อนกลับ </a>
        </div>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>







<%- include('../_footer') -%>
