<%- include('../_header_admin'); -%>
<% JSON.stringify(session) %>
<br>
<article>
    <section style="margin-top: 4%; margin-right:30%;margin-left:30%;">
        <% if(session.success==false){ %>
            <% for(var i=0;i<session.errors.errors.length;i++){ %>
            <div class='alert alert-danger' role='alert'>
                <%= session.errors.errors[i]["msg"] %>
            </div>
            <% } session.success=null; } %>
            <% if(session.success==true){ %>
            <div class='alert alert-success' role='alert'>
                <%= session.topic%> </div>
            <% } session.success=null; %>
        <h3 align="center" style="font-size: 50px; font-weight: bolder; color: white;margin-bottom: 19px;">ยืนยันการลบประเภท</h3>
        <!-- <% JSON.stringify(session) %> -->
        <div class="card">
            <div class="card-body">
                <table class="table table-borderless" style="background-color: white;margin-top: 10px;">
                    <tbody style="padding-left: 20%;">
                        <tr>
                            <td style="width:20%;">ประเภท :
                            </td>
                            <td>
                                <%=data[0].name%>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:20%;">รายละเอียด :
                            </td>
                            <td>
                                <%=data[0].detail%>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <div >
                </div>
                <div class="form-group" style="margin-top:-20px;margin-bottom:0px;text-align: left;"><br>
                    <a href="/type/confirm/<%= data[0].id %>" class="btn btn-warning">ยืนยันการลบ</a>
                    <a href="/type/" class="btn btn-info">ย้อนกลับ</a>
                </div>
                </thead>
                </table>
            </div>
        </div>
        </div>
    </section>
</article>

<%- include('../_footer'); -%>
