<%- include('../_header_admin'); -%>
<% JSON.stringify(session) %>

<br>
<article>
    <section style="margin-top: 4%; margin-right:30%;margin-left:30%;">
        <% if(session.success==false){ %>
        <% for(var i=0;i<session.errors.errors.length;i++){ %>
        <div class='alert alert-danger' role='alert'>
            <%= session.errors.errors[i]["msg"] %>
        </div>
        <% } session.success=null; } %>
        <% if(session.success==true){ %>
        <div class='alert alert-success' role='alert'>
            <%= session.topic%> </div>
        <% } session.success=null; %>

        <h3 align="center" style="font-size: 50px; font-weight: bolder;color: white;">เพิ่มประเภท</h3>
        <div>
            <form action="/type/add" method="post" style="padding-top: 3%; " class=" needs-validation" novalidate>
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label>ประเภท</label>
                            <input type="text" name="name" placeholder="กรุณาป้อนข้อมูล" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>รายละเอียด</label>
                            <textarea name ="detail" placeholder="กรุณาป้อนรายละเอียด"rows="5" style="width: 100%;"></textarea>


                        </div>

                        <button type="submit" class="btn btn-success">เพิ่มข้อมูล</button>
                        <a href="/type/" class="btn btn-info">ย้อนกลับ</a>
                    </div>
                </div>
            </form>
        </div>
    </section>
</article>

<%- include('../_footer'); -%>
