<%- include('../_header_admin'); -%>
<% JSON.stringify(session) %>

<br>
<article style="margin-top: 4%;">
    <section style="margin-right:35%; margin-left:35%;">
            <% if(session.success==false){ %>
                <% for(var i=0;i<session.errors.errors.length;i++){ %>
                <div class='alert alert-danger' role='alert'>
                    <%= session.errors.errors[i]["msg"] %>
                </div>
                <% } session.success=null; } %>
                <% if(session.success==true){ %>
                <div class='alert alert-success' role='alert'>
                    <%= session.topic%> </div>
                <% } session.success=null; %>
        <h3 align="center" style="font-size: 50px; font-weight: bolder; color: white;">ห้อง</h3>
        <div style="margin-top: -26px; padding-top: 5%;">
            <table class="table table-bordered table-hover" style="background-color: white; ">
                <a href="/room/new" class="btn btn-primary" style="margin-bottom: 10px;">เพิ่ม</a>
                <thead align="center">
                    <tr class="table-active">
                        <th scope="col" style="width: 15%;">ลำดับ</th>
                        <th scope="col" >ห้อง</th>
                        <th scope="col" style="width: 30%;">ตัวเลือก</th>
                    </tr>
                <tbody align="center">
                    <% if(data) { %>
                    <% for(var i=0;i<data.length;i++){ %>
                    <tr>
                        <td>
                            <%= (i+1) %>
                        </td>
                        <td>
                            <%= data[i].name %>
                        </td>
                        <td>
                            <a href="/room/del/<%= data[i].id %>" class="btn btn-danger">ลบ</a>
                            <a href="/room/edit/<%= data[i].id %>" class="btn btn-info">แก้ไข</a>
                        </td>
                    </tr>
                    <% } %>
                    <% } %>
                </tbody>
                </thead>
            </table>
        </div>

    </section>
</article>
<%- include('../_footer'); -%>
