<%- include('../_header_admin'); -%>
<% JSON.stringify(session) %>

<br>
<article>
    <section style="margin-top: 4%; margin-right:35%;margin-left:35%;">
        <% if(session.success==false){ %>
        <% for(var i=0;i<session.errors.errors.length;i++){ %>
        <div class='alert alert-danger' role='alert'>
            <%= session.errors.errors[i]["msg"] %>
        </div>
        <% } session.success=null; } %>
        <% if(session.success==true){ %>
        <div class='alert alert-success' role='alert'>
            <%= session.topic%> </div>
        <% } session.success=null; %>
        <h3 align="center" style="font-size: 50px; font-weight: bolder;color: white;">เพิ่มห้อง</h3>
        <form action="/room/add" method="post" style="padding-top: 3%; " class=" needs-validation" novalidate>
            <div class="card">
                <div class="card-body">

                    <div class="form-group">
                        <label>ห้อง</label>
                        <input type="text" name="name" placeholder="กรุณาป้อนข้อมูล" class="form-control">


                    </div>
                    <button type="submit" class="btn btn-success"> เพิ่มข้อมูล</button>
                    <a href="/room/" class="btn btn-info">ย้อนกลับ</a>

                </div>
            </div>
        </form>
    </section>
</article>

<%- include('../_footer'); -%>
