<%- include ("../_header_admin") %>
<div class="container">
  <div class="row">
    <div class="col" style="margin-top: 8%; margin-left: 15%; margin-right: 15%;">
      <% if(session.success==false){ %>
        <% for(var i=0;i<session.errors.errors.length;i++){ %>
        <div class='alert alert-danger' role='alert'>
          <%= session.errors.errors[i]["msg"] %>
        </div>
        <% } session.success=null; } %>
        <% if(session.success==true){ %>
        <div class='alert alert-success' role='alert'>
          <%= session.topic%> </div>
        <% } session.success=null; %>
      <h2 align='center' style="font-size: 50px; font-weight: bolder; color: white;">แก้ไขการคืนอุปกรณ์</h2>
      <div style="padding-top: 5%;">
        <div class="card">
          <div class="card-body">
            <form action="/returnAdmin/update/<%= data[0].rid %>" method="post">
              <label> ชื่อ-นามสกุล </label>
              <input type="text" placeholder="<%= data[0].pname %>" class="form-control" readonly>
              <label> อุปกรณ์ </label>
              <input type="text" placeholder="<%= data[0].dname%>" class="form-control" readonly>
              <label> วันที่ยืม </label>
              <input type="text" placeholder="<%= data[0].bdate %>" class="form-control" readonly>
              <label> วันที่กำหนดคืน </label>
                    <input type='text' name="_return" value="<%= data[0].rdate %>" class='form-control' readonly><br>
              <div class="form-group">
                <label> วันที่ได้รับคืน </label>
                <input type="text" name="get_date" value="<%= data[0].get_date %>" onfocus="(this.type='date')" class="form-control">
              </div>
              <button type="submit" class="btn btn-success"> เเก้ไขข้อมูล </button>
              <a href="/returnAdmin" class="btn btn-info"> ย้อนกลับ </a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include ("../_footer") %>