<%- include ("../_header_admin") %>
<div class="continer">
    <div class="row ">
        <div class="col" style=" margin-top: 6%; margin-left: 30%; margin-right: 30%;">
            <% if(session.success==false){ %>
            <% for(var i=0;i<session.errors.errors.length;i++){ %>
            <div class='alert alert-danger' role='alert'>
                <%= session.errors.errors[i]["msg"] %>
            </div>
            <% } session.success=null; } %>
            <% if(session.success==true){ %>
            <div class='alert alert-success' role='alert'>
                <%= session.topic%> </div>
            <% } session.success=null; %>
            <h2 align='center' style="font-size: 50px; font-weight: bolder; color: white;"> ยืมอุปกรณ์ </h2>
            <table class="table table-bordered table-hover table-active" style="background-color: white;">
                <thead class="table-active" align="center">
                    <tr class="table-active">
                        <th>ลำดับ</th>
                        <th>ชื่อ-นามสกุล</th>
                        <th>อุปกรณ์</th>
                        <th>วันที่ยืม</th>
                        <th>วันกำหนดคืน</th>
                        <th>ตัวเลือก</th>
                    </tr>
                </thead>

                <body>
                    <% if(data){ %>
                    <%  for(var i=0;i<data1.length;i++){ %>
                    <tr>
                        <td> <%= (i+1) %> </td>
                        <td> <%= data1[i].pname %> </td>
                        <td> <%= data1[i].dname %></td>
                        <td> <%= data1[i].borrow_date %></td>
                        <td> <%= data1[i]._return %></td>
                        <td align="center">
                            <a href="/returnAdmin/new/<%= data1[i].id %>" class="btn btn-primary"> คืน </a>
                        </td>
                    </tr>
                    <%  } %>
                    <%  } %>
                </body>
            </table>
            <br><br><br>
            <h2 align='center' style="font-size: 50px; font-weight: bolder; color: white;"> คืนอุปกรณ์ </h2>
            <table class="table table-bordered table-hover table-active" style="background-color: white;">
                <thead class="table-active" align="center">
                    <tr class="table-active">
                        <th>ลำดับ</th>
                        <th>ชื่อ-นามสกุล</th>
                        <th>อุปกรณ์</th>
                        <th>วันกำหนดคืน</th>
                        <th>วันที่ได้รับคืน</th>
                        <th>ตัวเลือก</th>
                    </tr>
                </thead>

                <body>
                    <% if(data){ %>
                    <%  for(var i=0;i<data.length;i++){ %>
                    <tr>
                        <td> <%= (i+1) %> </td>
                        <td> <%= data[i].pname %> </td>
                        <td> <%= data[i].dname %></td>
                        <td> <%= data[i].breturn %></td>
                        <td> <%= data[i].get_date %> </td>
                        <td align="center">
                            <a href="/returnAdmin/delete/<%= data[i].id %>" class="btn btn-danger"> ลบ </a>
                            <a href="/returnAdmin/edit/<%= data[i].id%>" class="btn btn-info"> แก้ไข </a>
                        </td>
                    </tr>
                    <%  } %>
                    <%  } %>
                </body>
            </table>
        </div>
    </div>
</div>

<%- include ("../_footer") %>