<%- include ("../_header_admin") %>
<div class="container">
  <div class="row">
    <div class="col" style="margin-top: 8%; margin-left: 10%; margin-right: 6%;">
      <% if(session.success==false){ %>
      <% for(var i=0;i<session.errors.errors.length;i++){ %>
      <div class='alert alert-danger' role='alert'>
        <%= session.errors.errors[i]["msg"] %>
      </div>
      <% } session.success=null; } %>
      <% if(session.success==true){ %>
      <div class='alert alert-success' role='alert'>
        <%= session.topic%> </div>
      <% } session.success=null; %>
      <h2 align='center' style="font-size: 50px; font-weight: bolder; color: white;">เพิ่มการคืนอุปกรณ์</h2>
      <br><br>
      <div class="card"  style="margin-left: 5%; margin-right: 5%;">
        <div class="card-body">
          <form action="/returnAdmin/add/" method="POST">
            <!-- <label> ชื่อ-นามสกุล </label>
            <input placeholder='<%= data[0].pname %>' class='form-control' readonly>
            <label> อุปกรณ์ </label>
            <input placeholder='<%= data[0].dname %>' class='form-control' readonly>
            <label> วันที่ยืม </label>
            <input placeholder='<%= data[0].borrow_date %>' class='form-control' readonly>
            <label> วันที่กำหนดคืน </label>
            <input placeholder='<%= data[0]._return %>' class='form-control' readonly> -->
            <select name="borrow_id" class='form-control read-only'>
              <% if(data) { %>
              <option value="<%= data[0].id %>">
                ชื่อ-นามสกุล : <%= data[0].pname %>, อุปกรณ์ : <%= data[0].dname %>, วันที่ยืม :
                <%= data[0].borrow_date%>, วันที่กำหนดคืน : <%= data[0]._return %>
              </option>
              <%}%>
            </select>
            <label>วันที่ได้รับคืน</label>
            <input type="text" name="get_date" value="<%= data2[0].CUR %>" class="form-control" readonly><br>
            <button type="submit" class="btn btn-success"> เพิ่มข้อมูล </button>
            <a href="/returnAdmin" class="btn btn-info"> ย้อนกลับ </a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include ("../_footer") %>