<%- include ("../_header_admin") %>
<div class="container">
    <div class="row">
        <div class="col" style="margin-top: 7%; margin-left: 22%; margin-right: 22%;">
            <h3 align='center' style="font-size: 50px; font-weight: bolder; color: white;">ยืนยันการลบการคืนอุปกรณ์</h3>
            <% if(session.success==false){ %>
            <% for(var i=0;i<session.errors.errors.length;i++){ %>
            <div class='alert alert-danger' role='alert'>
                <%= session.errors.errors[i]["msg"] %>
            </div>
            <% } session.success=null; } %>
            <% if(session.success==true){ %>
            <div class='alert alert-success' role='alert'>
                <%= session.topic%> </div>
            <% } session.success=null; %>
            <div style="margin-top: 7%; margin-left: 20%; margin-right: 20%;">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-borderless">
                            <td>
                                ชื่อ-นามสกุล : <br>
                                อุปกรณ์ที่ยืม : <br>
                                วันที่ยืม : <br>
                                วันที่กำหนดคืน : <br>
                                วันที่คืนจริง :
                            </td>
                            <td>
                                <%= data[0].pname %> <br>
                                <%= data[0].dname %> <br>
                                <%= data[0].b_date %> <br>
                                <%= data[0].bdate %> <br>
                                <%= data[0].rdate %> <br>
                            </td>
                        </table>
                        <div style="margin-top: 3%;">
                            <a href="/returnAdmin/confirm/<%= data[0].id%>" class="btn btn-warning"> ยืนยันการลบ </a>
                            <a href="/returnAdmin" class="btn btn-info"> ย้อนกลับ </a>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include ("../_footer") %>